<%= form_for @changeset, DiscussWeb.Router.Helpers.topic_path(@conn, :create),
fn f -> %>
<div class="form-group">
  <%= label f, :title, class: "form-control" %> <%= text_input f, :title, class:
  "form-control" %> <% # not work error_tag f, :title %>
</div>

<div class="form-group"><%= submit "create", class: "btn btn-primary" %></div>
<% end %>
